<%- include('../includes/head.ejs') %>
    <body>
        <header>
            <script src="/js/order.js"></script>
            <a href="/" class="btn" id="previous">이전으로</a>
            <img src="/images/logo.png" alt="logo" class="logo">
            <a href="/" class="btn" id="home">처음으로</a>
        </header>
        <div class="box">
            <aside class="menubar">
                <div class="grid_item">
                    <form action="/vending-sort-by-tag" method="post">
                        <button class="btn" type="submit">두통</button>
                        <input type="hidden" name="medicineTag" value="headache">
                    </form>
                </div>
                <div class="grid_item">
                    <form action="/vending-sort-by-tag" method="post">
                        <button class="btn" type="submit">치통</button>
                        <input type="hidden" name="medicineTag" value="toothache">
                    </form>
                </div>
                <div class="grid_item">
                    <form action="/vending-sort-by-tag" method="post">
                        <button class="btn" type="submit">복통</button>
                        <input type="hidden" name="medicineTag" value="stomachache">
                    </form>
                </div>
                <div class="grid_item">
                    <form action="/vending-sort-by-tag" method="post">
                        <button class="btn" type="submit">모두</button>
                        <input type="hidden" name="medicineTag" value="all">
                    </form>
                </div>
            </aside>
            <aside class="sidebar">
                <div>
                    <% cartMedicines.forEach(cartMedi => {%>
                        <div>
                            <h2 class="medicine__name"><%= cartMedi.medicineId.name %> <%= cartMedi.quantity %></h2>
                            <form action="/vending-remove-from-cart" method="post">
                                <button class="btn" type="submit">Delete Medicine</button>
                                <input type="hidden" name="medicineIdFromCart" value="<%= cartMedi.medicineId._id %>">
                            </form>
                        </div>
                        
                    <% }) %>
                </div>
                <div class="payment">
                    <div>결제금액</div>
                    <div id="price"><%= price %></div>
                    <form action="/vending-clear-cart" method="post">
                        <button id="ok">결제하기</button>
                    </form>
                    <div id="cancel">취소하기</div>
                </div>
            </aside>
            <div class="list">
                <% medicines.forEach(medi => {%>
                    <article class="card medicine-item">
                        <header class="card__header">
                            <h1 class="medicine__name"><%= medi.medicineId.name %></h1>
                        </header>
                        <div class="card__image">
                            <img src="<%= medi.medicineId.imageUrl %>"
                                alt="<%= medi.medicineId.name %>">
                        </div>
                        <div class="card__content">
                            <h2 class="medicine__price"><%= medi.medicineId.price %></h2>
                            <p class="medicine__description"><%= medi.medicineId.description %></p>
                        </div>
                        <div>
                            <form action="/vending-add-to-cart" method="post">
                                <button class="btn" type="submit">Add to Cart</button>
                                <input type="hidden" name="medicineId" value="<%= medi.medicineId._id %>">
                            </form>
                        </div>
                    </article>
                    <% }) %>
            </div>
        </div>
        
<%- include('../includes/end.ejs') %> 